{% extends "account_base.html" %}

{% block title %}
<title>AT - Account Details</title>
{% endblock %}

{% block content %}

<h1 style="text-transform:capitalize">{{ name }}'s User Profiles</h1>
<hr>
<br>
<h3 style="text-transform: uppercase;">spotify</h3>

<div class="row">
    <div class="column column-30">
        <a class="button spotify-branding"  href="{{ url_for('spotify_api.spotify_auth_home')}}">Link Spotify Account</a>
    </div>
    <div class="column column-30">
        <form method="POST" action="/profile">
            <input type="submit" name="get_spotify_account" value="Get Spotify Account Details"/>
        </form>
    </div>
    <div class="column column-40"></div>
</div>

<!-- SPOTIFY ACCOUNT INFORMATION  -->
<table>
    <thead><tr><td><td></td></td></tr></thead>
    <tbody>
        <tr>
            <th style="min-width: 20rem; max-width: 20rem;">username</th>
            <td>{{ spotify_id }}</td>
        </tr>
        <tr>
            <th>spotify name</th>
            <td>{{ spotify_display_name }}</td>
        </tr>
        <tr>
            <th>spotify email</th>
            <td>{{ spotify_email }}</td>
        </tr>
        <tr>
            <th>url</th>
            <td><pre><code>{{ spotify_account_url }}</code></pre></td>
        </tr>
        <tr>
            <th>access token</th>
            <td><pre><code style="text-wrap: wrap; word-break: break-all;">{{ access_token_mask }}</code></pre></td>
        </tr>
        <tr>
            <th>token expires</th>
            <td><pre><code>{{ expires_timestamp }}</code></pre></td>
        </tr>
    </tbody>
</table>
<a class="button" href="{{url_for('home.user_spotify_analysis')}}">Go to Spotify Analysis</a>
<br>
<br>
<br>
<hr>

<!-- LETTERBOXD ACCOUNT DETAILS -->
<h3 style="text-transform: uppercase;">letterboxd</h3>

<div class="row">
    <div class="column column-30">
        <a class="button letterboxd-branding"  href="">Link Letterboxd Account</a>
    </div>
    <div class="column column-30">
        <form method="POST" action="">
            <input type="submit" name="" value="Get Letterboxd Account Details"/>
        </form>
    </div>
    <div class="column column-40"></div>
</div>

<table>
    <thead><tr><td><td></td></td></tr></thead>
    <tbody>
        <tr>
            <th style="min-width: 20rem;max-width: 20rem;">username</th>
            <td></td>
        </tr>
        <tr>
            <th>letterboxd name</th>
            <td></td>
        </tr>
        <tr>
            <th>letterboxd email</th>
            <td></td>
        </tr>
        <tr>
            <th>url</th>
            <td><pre><code></code></pre></td>
        </tr>
        <tr>
            <th>access token</th>
            <td><pre><code style="text-wrap: wrap; word-break: break-all;"></code></pre></td>
        </tr>
        <tr>
            <th>token expires</th>
            <td><pre><code></code></pre></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<hr>
<!-- GOODREADS ACCOUNT DETAILS -->
<h3 style="text-transform: uppercase;">goodreads</h3>

<div class="row">
    <div class="column column-30">
        <a class="button goodreads-branding"  href="">Link Goodreads Account</a>
    </div>
    <div class="column column-30">
        <form method="POST" action="">
            <input type="submit" name="" value="Get Goodreads Account Details"/>
        </form>
    </div>
    <div class="column column-40"></div>
</div>

<table>
    <thead><tr><td><td></td></td></tr></thead>
    <tbody>
        <tr>
            <th style="min-width: 20rem;max-width: 20rem;">username</th>
            <td></td>
        </tr>
        <tr>
            <th>goodreads name</th>
            <td></td>
        </tr>
        <tr>
            <th>goodreads email</th>
            <td></td>
        </tr>
        <tr>
            <th>url</th>
            <td><pre><code></code></pre></td>
        </tr>
        <tr>
            <th>access token</th>
            <td><pre><code style="text-wrap: wrap; word-break: break-all;"></code></pre></td>
        </tr>
        <tr>
            <th>token expires</th>
            <td><pre><code></code></pre></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>
<hr>
<!-- APPLE MUSIC ACCOUNT DETAILS -->
<h3 style="text-transform: uppercase;">apple music</h3>

<div class="row">
    <div class="column column-30">
        <a class="button apple-music-branding"  href="">Link Apple Music Account</a>
    </div>
    <div class="column column-30">
        <form method="POST" action="">
            <input type="submit" name="" value="Get Apple Music Account Details"/>
        </form>
    </div>
    <div class="column column-40"></div>
</div>

<table>
    <thead><tr><td><td></td></td></tr></thead>
    <tbody>
        <tr>
            <th style="min-width: 20rem;max-width: 20rem;">username</th>
            <td></td>
        </tr>
        <tr>
            <th>apple music name</th>
            <td></td>
        </tr>
        <tr>
            <th>apple music email</th>
            <td></td>
        </tr>
        <tr>
            <th>url</th>
            <td><pre><code></code></pre></td>
        </tr>
        <tr>
            <th>access token</th>
            <td><pre><code style="text-wrap: wrap; word-break: break-all;"></code></pre></td>
        </tr>
        <tr>
            <th>token expires</th>
            <td><pre><code></code></pre></td>
        </tr>
    </tbody>
</table>
<br>

{% endblock %}