{% extends "base.html" %}

{% block title %}
<title>Spotify Trove - Playlist Data</title>
{% endblock %}


{% block content %}


<hr class="spotify-branding-nav">
<section>
    <div>
        <a class="button passive-nav" href="{{ url_for('spotify_api.user_spotify_analysis') }}">User Data</a>
        <a class="button passive-nav" href="">Library</a>
        <a class="button spotify-active-nav" href="{{ url_for('spotify_api.user_spotify_playlists') }}">Playlists</a>
        <a class="button passive-nav" href="">Recent Trends</a>
    </div>
    <br>
</section>
<section>
    <details>
        <summary>Playlists</summary>
        <p>{{users_playlists|length}} Playlists</p>
        <table>
            <tr>
                {% for playlist in users_playlists %}
                <td>
                    <strong>{{ playlist['name'] }}</strong>
                    <br>
                    Track Count: {{ playlist['tracks']['total'] }}<br>
                </td>
                {% if loop.index % 4 == 0 %}
            </tr>
            <tr>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </details>
</section>


{% endblock %}