{% extends "base.html" %}

{% block title %}
<title>Spotify Trove - Data State</title>
{% endblock %}


{% block content %}

<hr class="spotify-branding-nav">
<section>
    <div>
        <a class="button spotify-active-nav" href="{{ url_for('spotify_api.user_spotify_analysis') }}">User Data</a>
        <a class="button passive-nav" href="">Library</a>
        <a class="button passive-nav" href="{{ url_for('spotify_api.user_spotify_playlists') }}">Playlists</a>
        <a class="button passive-nav" href="">Recent Trends</a>
    </div>
    <br>
</section>
<section>
    <h3>Latest Sptotify Data Refresh</h3>
    <table>
        <tbody>
            <tr>
                <th>User Data</th>
                <td><code>{{ user_data_refresh_ts }}</code></td>
            </tr>
            <tr>
                <th>User Playlists</th>
                <td><code>{{ user_playlist_refresh_ts }}</code></td>
            </tr>
            <tr>
                <th>Playlists</th>
                <td>
                    <code>{{ playlist_refesh_ts }}</code>
                    <small style="margin: 0rem; font-style: italic;">may take minutes to refresh</small>
                </td>
            </tr>
            <tr>
                <th>Tracks</th>
                <td>
                    <code>{{ track_data_refesh_ts }}</code>
                    <small style="margin: 0rem; font-style: italic;">may take minutes to refresh</small>
                </td>
            </tr>
        </tbody>
    </table>
    <form method="POST" action="/spotify_api/refresh_spotify_data">    
        <input type="submit" name="refresh_user_spotify_data" value="Refresh Spotify Data">
    </form>
</section>
<hr>


{% endblock %}